.navigation {
	@media only screen and (min-width: 600px) {
		flex-basis: 25%;
	}

	&__list {
		background-color: var(--color-5);
		display: flex;
		justify-content: space-evenly;
	}
	&__item {
		flex: 1;
		height: 100%;
	}

	&__link {
		transition: background-color 0.5s;
		padding: 1rem 0.3rem;
		display: block;

		//margin: 0 0.1em;

		color: black;
		text-align: center;
		cursor: pointer;

		&:hover {
			background-color: var(--color-4);
			color: var(--color-3);
		}
	}
	&--side {
		height: 100vh;
	}
}

.navigation .sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}
