@import url("https://fonts.googleapis.com/css?family=Roboto|Bree+Serif|EB+Garamond");

body {
	height: 100%;
	width: 100%;
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.1em;
}

:root {
	font-size: 1em;
}

h1 {
	font-size: 3rem;
}

.navbar-custom {
	background-color: white;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	color: #c0afbd;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
	color: rgba(161, 204, 165, 1);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
	color: #b027ff;
}

.home {
	background: url("./images/code-coding-computer-34676.jpg");
	min-height: 360px;
	background-size: cover;
}

.box {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
	text-align: center;
	padding-top: 5em;
	padding-bottom: 3em;
}

.landing-text {
	display: inline-block;
	margin: auto;
	font-family: "EB Garamond", serif;
	color: white;
	width: auto;
	height: 100px;
}

.about p {
	letter-spacing: 0.1em;
	line-height: 2em;
}

.about {
	background: white;
	padding-top: 4em;
	padding-bottom: 3em;
}

.portfolio {
	background: #f4f4f4;
	padding-top: 2em;
	padding-bottom: 5em;
}

.portfolio > h3 {
	color: #b027ff;
	margin: 1em;
	font-family: "Bree Serif", serif;
}

.blog {
	padding-top: 3em;
	padding-bottom: 6em;
	background-color: white;
}

.blog > h3 {
	color: #b027ff;
	margin: 1em;
	font-family: "Bree Serif", serif;
}

.card {
	margin-top: 4em;
	margin-bottom: 2em;
}

/* primary button */
.btn-primary {
	background-color: #fff;
	color: #b027ff;
	border-color: #b027ff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: #b027ff;
	color: #fff;
	border-color: #b027ff;
}

.contact {
	background: #b027ff;
	color: white;
	padding-top: 5em;
	padding-bottom: 6em;
}

.contact a {
	color: white;
}

.freelance {
	border-top: 1px solid #e0e0e0;
}
