@import url("https://fonts.googleapis.com/css?family=Roboto|Josefin+Sans|EB+Garamond");

body {
	height: 100%;
	width: 100%;

	font-family: "Roboto", sans-serif;
	letter-spacing: 0.1em;
}

h1 {
	font-size: 4em;
}

.navbar-custom {
	background-color: white;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	color: #c0afbd;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
	color: rgba(161, 204, 165, 1);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
	//color: rgba(36, 130, 50, 1);
	//color: rgba(221, 110, 66, 1);
	//color: rgba(161, 204, 165, 1);
	//color: #53d8fb;
	color: #b027ff;
}

#about p {
	letter-spacing: 0.1em;
	line-height: 2em;
}

#home {
	//background: #ff0084 no-repeat center center fixed;
	background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.2)),
		url("https://images.pexels.com/photos/583842/pexels-photo-583842.jpeg?auto=compress&cs=tinysrgb&h=350")
			no-repeat center center fixed;
	//background: linear-gradient(to bottom, #cc66ff 0%, #ff0066 100%) no-repeat
	//center center fixed;
	display: table;
	height: 100vh;
	position: relative;
	width: 100%;
	background-size: cover;
}

.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-family: "EB Garamond", serif;
}

.box {
	width: 30em;
	display: inline-block;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
	text-align: center;
}

#about {
	background: white;
}

#portfolio {
	background: #f4f4f4;
}

#portfolio > h3 {
	//color: #53d8fb;
	color: #b027ff;
}

#contact {
	background: #b027ff;
	color: white;
}

#contact a {
	color: white;
}

.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.freelance {
	border-top: 1px solid #e0e0e0;
}
