@import url("https://fonts.googleapis.com/css?family=Roboto|Bree+Serif|EB+Garamond");

body {
	height: 100%;
	width: 100%;
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.1em;
}

h1 {
	font-size: 4em;
}

.navbar-custom {
	background-color: white;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	color: #c0afbd;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
	color: rgba(161, 204, 165, 1);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
	color: #b027ff;
}

.home {
	//background: #ff0084 no-repeat center center fixed;
	/*background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.2)),
		url("https://images.pexels.com/photos/583842/pexels-photo-583842.jpeg?auto=compress&cs=tinysrgb&h=350")
			no-repeat center center fixed;*/
	background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.2)),
		url("./images/pexels-photo.jpg") no-repeat center center fixed;
	display: table;
	height: 50vh;
	position: relative;
	width: 100%;
	background-size: cover;
}

.box {
	width: 30em;
	display: inline-block;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
	text-align: center;
}

.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-family: "EB Garamond", serif;
}

.about p {
	letter-spacing: 0.1em;
	line-height: 2em;
}

.about {
	background: white;
}

.portfolio {
	background: #f4f4f4;
}

.portfolio > h3 {
	color: #b027ff;
	margin: 1em;
	font-family: "Bree Serif", serif;
}

.blog > h3 {
	//color: #53d8fb;
	color: #b027ff;
	margin: 1em;
	font-family: "Bree Serif", serif;
}

/* primary button */
.btn-primary {
	background-color: #fff;
	color: #b027ff;
	border-color: #b027ff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: #b027ff;
	color: #fff;
	border-color: #b027ff;
}

.contact {
	background: #b027ff;
	color: white;
}

.contact a {
	color: white;
}

.freelance {
	border-top: 1px solid #e0e0e0;
}
