.btn {
	&,
	&:link,
	&:visited {
		text-transform: uppercase;
		padding: 0.5rem 2.5rem;
		display: inline-block;
		border-radius: 10rem;
		border: none;
		cursor: pointer;
		transition: background-color 0.5s;
	}

	&:active,
	&:focus {
		outline: none;
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
	}

	&:hover {
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
		background-color: black;
		color: var(--color-5);
	}

	&--blue {
		background-color: var(--color-5);
		color: black;
	}
}
