@import "config";
@import "utilities";
//General Styles
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	line-height: 1.6;
	background: #fff;
}

a {
	text-decoration: none;
	color: $dark-color;
	cursor: pointer;
}

ul {
	list-style: none;
}

h2,
h3,
h4 {
	text-transform: uppercase;
}

//old
#main-nav {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;

	li {
		padding: 1rem 1.5rem;
	}

	a {
		text-transform: uppercase;
		border-bottom: 3px transparent solid;
		padding-bottom: 0.5rem;
		transition: border-color 0.5s;

		&:hover {
			border-color: $dark-color;
		}
	}
}

ul#main-nav.sticky {
	width: 100%;
	position: fixed;
	height: 40px;
	top: 0;
	left: 0;
	padding-bottom: 1em;
	background-color: white;

	z-index: 10;

	animation-name: sticky-animation;
	animation-duration: 0.8s;
}

@keyframes sticky-animation {
	from {
		transform: translateY(-90px);
	}
	to {
		transform: translateY(0px);
	}
}

//Header
#header {
	//Header Home
	&-home {
		height: 90vh;
		color: $dark-color;

		//Header Content
		.header-content {
			height: 75vh;
			text-align: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			h1 {
				font-size: 3rem;
				margin: 1em;
			}

			h4 {
				text-align: right;
			}

			.header-main {
				display: flex;
			}

			img {
				border-radius: 15px;
				filter: drop-shadow(8px 8px 10px gray);
			}
		}
	}
}
#about p {
	padding: 0 5em;
	padding: 0 5em;
}

#about a:hover {
	text-decoration: underline;
}

#skills {
	.skills {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		align-content: center;
		padding: 0.5em;
		padding-top: 0.3em;

		i {
			background-color: $accent-color;
			border-radius: 50%;
			padding: 0.5em;
			margin-bottom: 0.75rem;
		}

		.skill {
			box-sizing: border-box;
			text-align: center;
			padding: 1em;

			margin-bottom: 2em;
			flex: 1 0 33%;
		}
	}
}

#portfolio {
	.projects {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;
		padding: 0.5em 0.5em 2em 0.5em;

		/*.project {
			flex: 1;
		}*/
	}

	.card {
		transition: all 0.2s ease-in-out;
		width: 28rem;
	}

	.card:hover {
		transform: scale(1.2);
	}

	.card-body {
		padding: 0.8em 1em;
		border-top: 0.1px groove rgba(158, 132, 133, 0.1);
	}

	.card-body ul {
		padding-top: 0.5em;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.card-body ul li {
		width: 50%;
	}

	.card-link .button {
		margin: 1em;
		border: 2px solid $accent-color;
		color: $dark-color;
	}

	.card-link .button:hover {
		background-color: $dark-color;
		color: white;
		border: none;
	}
}

#contact .contact {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 6em;
	text-align: center;

	.contact-icon .contact-info {
		text-align: center;
		padding-top: 0.6em;
		line-height: 1.8;
		font-size: 1.2rem;
	}
}
